<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_DB_FG_LahoreConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_DB_FG_Lahore;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_SERVER_FGConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_SERVER_FG;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_CurrentConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_Current;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_TESTConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_TEST;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_NewConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_New;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_BDNConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_BDN;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_BDNConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_BDN;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_SGAConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_SGA;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMPLConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDMPL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMPLConnectionString1"
            connectionString="Data Source=ALI-PC;Initial Catalog=SAMS_ONLINE_FDMPL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMPLConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ArshadPOS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.needConnectionString"
            connectionString="Data Source=FS-DEV-II;Initial Catalog=need;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbASonsConnectionString"
            connectionString="Data Source=fs-l3\FASTSERVICES;Initial Catalog=dbASons;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbNeedConnectionString"
            connectionString="Data Source=192.168.18.221;Initial Catalog=dbNeed;User ID=sa;Password=fast1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbneedConnectionString1"
            connectionString="Data Source=DESKTOP-9U8QBGM;Initial Catalog=dbneed;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbneedConnectionString2"
            connectionString="Data Source=DESKTOP-N6A34DU;Initial Catalog=dbneed;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
